@charset "UTF-8";

a:active, a:hover {
	outline: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}
a.skip-main {
	left:-999px;
	position:absolute;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
	color: #fff;
	background-color:#000;
	left: auto;
	top: auto;
	width: 30%;
	height: auto;
	overflow:auto;
	margin: 10px 35%;
	padding:5px;
	border-radius: 15px;
	border:4px solid yellow;
	text-align:center;
	font-size:1.2em;
	z-index:999;
}
/* ------------------------------------------
DEFAULT STYLES
--------------------------------------------- */

body {
  margin: 0;
	padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #eeeeee;
}

.iframeStyle {
	width: 100%;
	height: 465px;
	padding: 1em;
	border: 0;
	border-collapse: collapse;
}

.brClear {
	clear:both
}

.fullWidth {
	width: 100%;
}

.fullHeight {
	height: 200px;
}

.alignRight {
	text-align: right;
}

.alignTop {
	vertical-align: top;
}

.wrapper {
  width: 100%;
}

.container {
  width: 80%;
  min-width: 20em;
  margin: 0 auto;
  background-color: white;
}

.mobile-wrapper {
  width: 100%;
  display: block;
  padding-left: .5em;
  line-height: 3em;
}

.mobile-menu {
  display: inline-block;
  padding: 5px;
  font-size: 3em;
  text-decoration: none;
  color: black;
}

.nav-menu {
  width: 100%;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu a {
  width: 100%;
  display: block;
  padding: 1em;
  color: black;
  text-decoration: none;
  background-color: #eeeeee;
  border-bottom: 1px #aaaaaa solid;
  border-left: 1px #aaaaaa solid;
  border-right: 1px #aaaaaa solid;
}

.nav-menu li:first-of-type a {
  border-top: 1px #aaaaaa solid;
}

.nav-menu a:hover {
  background-color: #cccccc;
}

.main-content {
	padding: 0 1em;
}

.breadcrumb {
	margin: 1em;
}

.breadcrumb a, .main-content a, .footer a {
	color: #666666;
}

.breadcrumb a:hover, .main-content a:hover, .footer a:hover {
	color: #999999;
}

.project {
	float: left;
	padding: 1em 2em;
}

.caption {
	font-size: .8em;
}

.error {
	font-size: .8em;
	color: red;
}

.contactSuccess {
	visibility: hidden;
}

td:first-of-type {
	width: 2em;
}

.footer {
	width: 100%;
	height: 5em;
	position: relative;
	background-color: #dcdcdc;
}

.footer-content {
	width: 100%;
	position: absolute;
	bottom: .5em;
	text-align: center;

}

/* ------------------------------------------
RESPONSIVE WEBSITE RESIZING
--------------------------------------------- */

@media only screen and (min-width: 56em) {
  .container {
    max-width: 65em;
  }

  .mobile-wrapper {
    display: none;
  }

  .nav-menu {
    clear: both;
    width: 100%;
    display: block;
    list-style-type: none;
    border: 0;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
  }

  .nav-menu li {
    width: 25%;
    float: left;
    text-align: center;
    display: inline-block;
    border: 0;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
  }

  .nav-menu a {
    display: inline-block;
    width: 100%;
    background-color: #dcdcdc;
    border: 0;
    border-right: 1px #aaaaaa solid;
  }

  .nav-menu li:first-of-type a {
    border-top: 0;
  }

  .nav-menu li:last-of-type a {
    border-right: 0;
  }
}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 80em) {

}

@media only screen and (min-width: 100em) {

}
